<header class="a-hero">
  <div class="a-hero__grid">
    {% include "_atelier/v1/parts/photo.html" with sizes="(min-width: 900px) 420px, 78vw" %}
    <div class="a-hero__text">
      <p class="a-kicker">{{ v.kicker }}</p>
      {% include "_atelier/v1/parts/names.html" %}
      {% include "_atelier/v1/parts/ornament.html" with pos="top" %}
      <p class="a-tagline">{{ v.tagline }}</p>
      {% include "_atelier/v1/parts/date.html" %}
      {% include "_atelier/v1/parts/meta.html" %}
    </div>
  </div>
</header>
